.myCard {
    background-color: beige;
}
img {
    width: 100px;
    background-color: #28a745;
    border-radius: 16px;
    
}
.imgStyle {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
li {
    list-style: none;
}
.container {
    margin: 40px 0;
}
.shipping,.total {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.shipping > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 90px;
}
.total {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.total > div:nth-child(2) {
    display: flex;
    /* background-color:  green; */
    flex-direction: column;
    align-items: flex-end;
    padding-right: 90px;
}
input {
    width: 40px;
}
.card-container,.shipping {
    /* padding: 10px; */
    border-bottom: 1px solid gray;
  }
  
  .card-body h3 {
    color: #28a745;
  }
  
  .card img {
    max-height: 200px;
    object-fit: cover;
  }
  .remove {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  